Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
pandas
numpy
matplotlib
seaborn
plotly
dash
dash-bootstrap-components
openpyxl
python-dotenv
gunicorn
scikit-learn
statsmodels
jupyter
notebook
python-dateutil
pytz
tqdm
pmdarima
prophet
xgboost
lightgbm 